<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    제목 : <%=title%> <br>
    <table>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일</th>
        </tr>
        <%
        for(var i=0; i<data.length; i++){
            var item = data[i]
        %>
        <tr>
            <td><%=item.num%></td>
            <td><%=item.title%></td>
            <td><%=item.wdate%></td>
        </tr>
        <%
        }
        %>
    </table>


</body>
</html>